<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/backup_rules_android_12_and_above"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31" >

        <activity
            android:name=".ui.splash.view.SplashActivity"
            android:exported="true"
            android:theme="@style/ColorTranslucentBarTheme">

        </activity>

        <activity
            android:name=".ui.loginregister.view.LoginRegisterActivity"
            android:exported="true"
            android:theme="@style/TranslucentBarTheme">
        </activity>

        <activity
            android:name=".ui.mdc.TabLayoutActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name=".ui.mdc.BottomAppBarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mdc.BottomNavigationViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mdc.MaterialCardViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mdc.ChipActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mdc.SwitchMaterialActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mdc.MaterialCheckBoxActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mdc.MaterialRadioButtonActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mdc.FloatingActionButtonActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mdc.MaterialButtonActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mdc.ExposedDropdownMenuActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mdc.TextInputActivity"
            android:exported="false" />
        <activity
            android:name=".ui.mdc.MaterialComponentsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" >
        </activity>
    </application>
</manifest>
